* {
	padding: 0;
	margin: 0;
}
body {
	padding: 20px;
	font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
	font-size: 16px;
    
}
img{
    width: 80px;
	height: 80px;
	border: 1px solid #999;
}

div {
	background-color: #fff;
	border: 1px solid #999;
	padding: 20px;
}
.name{
    font-size: 14px;
    margin-right:-20px;

}

.parent {
	background-color: #eee;

}

.parent .left {
	float: left;
	width: 158px;
    
}
.parent .right {
	width: 78px;
	float: right;
    
    
}
.parent .center {
    overflow: hidden;
    margin: 0px 160px 0px 240px;
}